// Import Fonts
@use url("/static/Avara-Bold.woff");
@use url("/static/Paysage-Regular.woff");
// Set Titles to Avara and Body to Garcia

body {
  font-family: 'GARCIA';

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Avara';
  }
}
